//COLORS
$color-dark-grey: #6b6b6b;
$color-dark-grey-2: #999;
$color-dark-grey-3: #333;
$color-light-grey-1: #ededed;
$color-light-grey-2: #eee;

$color-primary: #b5dbe8;
$color-primary-medium: #3232D7;
$color-primary-dark: #000073;

$color-secondary-light: #ffdf80;
$color-secondary-dark: #FFc519;

$color-tertiary-light: #e2d3f6;
$color-tertiary-dark: #7025d4;

$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;