/*
Set project font
*/
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: $color-dark-grey;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  /*Prevent header text from shaking when animating*/
  backface-visibility: hidden;

  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 3rem;
  
    animation: moveInLeft 1s ease-out;

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }
  
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.5rem;
  
    animation: moveInRight 1s ease-out;

    @include respond(phone) {
      letter-spacing: .5rem;
    }
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .2rem;
  background-image: linear-gradient(to right, $color-primary-medium, $color-primary-dark);
  
  /*Clip background where text is*/
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /*Let bg gradient thru*/

  transition: all .2s;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewY(-5deg) skewX(5deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2)
  }

  &--white {
    color: white;
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;
  text-align: justify;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}